body {
    background-color: rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {   
    width: 80%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.containerBorrado{    
    filter: blur(5px);
}

#displayContainerJogo, #displayContainerInformativo {
    background-color: black;
    width: 800px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.displayInformativo {
    background-color: black;
    border: none;
    height: 75px;
    width: 100%;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    font-size: 22px;
}

.displayMaior, .displayCronometro {
    background-color: black;
    color: rgb(201, 201, 201);
    border: none;
    height: 75px;
    text-align: center;
}

.displayMaior {
    width: 80%;
    font-size: 35px;
    border-radius: 5px 0 0 5px;
}

.displayCronometro {
    width: 20%;
    border-radius: 0 5px 5px 0;
    font-size: 45px;
}

.ContainerBtnsortear {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sortear {
    background-color: rgb(0, 209, 118);
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 33px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}

#painel {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn{
    font-size: 130px;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(177, 177, 177);
    background-color: aliceblue;
    border-radius: 9px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
    color: aliceblue;
    opacity: 20%;
}

.btn.Borrado{
    background-color: rgb(113, 113, 113);
    color: rgb(113, 113, 113);
}

.btn.habilitado {
    opacity: 100%;
    cursor: pointer;
}

.btn.habilitado:hover {
    opacity: 50%;
}

.btn.clicado {
    color: black;
}

#painelVencedor{
    width: 500px;
    height: 525px;
    background-color: rgba(255, 255, 255, 0.943);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 100px;
}

#ContainerPainelVencedor{
    width: 95%;
    height: 85%;
}

#PainelParteSuperior{
    /* background-color: blueviolet; */
    height: 80%;
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    color: rgb(50, 50, 50);
}

#PainelParteInferior{
    /* background-color: aqua; */
    height: 20%;
    justify-content: center;
}

#PainelParteSuperior i{
    font-size: 100px;
    color: gold;
}

#PainelParteSuperior, #PainelParteInferior {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sortear:hover, #btnVoltarInicio:hover{
    opacity: 50%;
}

#btnVoltarInicio{
    background-color: rgb(0, 209, 118);
    width: 180px;
    height: 45px;
    font-weight: bold;
    font-size: 33px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}

@media (max-width: 900px) {
    #painel {
        width: 100%;
    }
    #container {
        width: 95%;
    }
    #displayContainerJogo, #displayContainerInformativo {
        width: 95%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .displayInformativo {
        background-color: black;
        border: none;
        height: 65px;
        width: 100%;
        border-radius: 5px;
        color: aliceblue;
        text-align: center;
        font-size: 15px;
    }
    .btn {
        font-size: 65px;
        width: 150px;
        height: 150px;
    }
    .displayMaior, .displayCronometro {
        height: 65px;
    }
    .displayCronometro {
        font-size: 25px;
        padding-right: 10px;
    }
    .displayMaior, .displayPlacar {
        font-size: 22px;
    }
    #sortear {
        font-size: 25px;
        height: 30px;
    }
    #painelVencedor{
        width: 400px;
        height: 425px;
    }
    #PainelParteSuperior{
        font-size: 21px;
    }
}

@media (max-width: 600px) {
    #displayContainerJogo, #displayContainerInformativo {
        width: 95%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .displayInformativo {
        background-color: black;
        border: none;
        height: 65px;
        width: 100%;
        border-radius: 5px;
        color: aliceblue;
        text-align: center;
        font-size: 15px;
    }
    .btn {
        font-size: 65px;
        width: 120px;
        height: 120px;
    }
    .displayMaior, .displayCronometro {
        height: 65px;
    }
    .displayCronometro {
        font-size: 25px;
        padding-right: 10px;
    }
    .displayMaior {
        font-size: 20px;
    }
    #sortear {
        font-size: 22px;
        height: 30px;
    }
    #painelVencedor{
        width: 350px;
        height: 375px;
        margin-top: 240px;
    }
    #PainelParteSuperior i{
        font-size: 70px;
        color: gold;
    }
    #btnVoltarInicio{
        background-color: rgb(0, 209, 118);
        width: 120px;
        height: 35px;
        font-weight: bold;
        font-size: 25px;
        border: none;
        border-radius: 5px;
        color: aliceblue;
    }
}

@media (max-width: 499px) {
    #painel {
        width: 100%;
    }
    #container {
        width: 95%;
    }
    #displayContainerJogo, #displayContainerInformativo {
        width: 95%;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .displayInformativo {
        background-color: black;
        border: none;
        height: 65px;
        width: 100%;
        border-radius: 5px;
        color: aliceblue;
        text-align: center;
        font-size: 15px;
    }
    .btn {
        font-size: 65px;
        width: 90px;
        height: 90px;
    }
    .displayMaior, .displayCronometro {
        height: 65px;
    }
    .displayMaior{
        font-size: 18px;
    }
    .displayCronometro {
        font-size: 20px;
        padding-right: 10px;
    }
    #sortear {
        font-size: 22px;
        height: 30px;
    }
    #painelVencedor{
        width: 300px;
        height: 325px;
    }
    #PainelParteSuperior{
        font-size: 17px;
    }
}
